body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.3s;
    z-index: 1;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#prevBtn {
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#nextBtn {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.carousel-title {
    font-size: 24px;
    margin-bottom: 20px;
}